<footer id="rodape">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="https://ibb.co/QpMJdYP"><img
                            src="https://i.ibb.co/QpMJdYP/Logo-Nexo-sem-fundo.png" alt="Logo-Nexo-sem-fundo"></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Inicio</h5>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href=""></a>Perfil</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Sobre-nós</h5>
                <ul>
                    <li><a href="">Informações da Empresa</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Quem somos nós</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Suporte</h5>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Chat</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://github.com/ccarmo/nexo" class="GitHub" target="_blank"><i
                            class="fa fa-github"></i></a>
                    <a href="" class="Linkedin" target="_blank"><i class="fa fa-linkedin-square"
                            aria-hidden="true"></i></a>
                    <a href="" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
                <a href="">
                    <button type="button" class="btn btn-default">Contato</button>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyrigth bg-dark - text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>

</footer>