<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- CAMINHO CSS -->
    <link href="..\..\app\cadastrar-empresa\cadastrar-empresa.component.css" rel="stylesheet" type="text/css" media="all" />
    <!-- FONTES EXTERNAS -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">       
    </head>
    
    <body>
        <!-- main -->
        <div class="main-w3layouts wrapper">
            <h1><img src="https://i.imgur.com/5LQBQKL.png m-10px" width="150px" height="50px" alt="Logo-No-sem-fundo"></h1>
            <div class="main-agileinfo">
                <div class="campos-inserçao">
                    <form action="#" method="post">
                        <input [(ngModel)]='usuario.nome' type="text" class="form-control" name="nome" placeholder="Nome" id="Nome da empresa"> 
                        <input [(ngModel)]='usuario.ramo_empresa' type="text" class="form-control" name="ramo_empresa" placeholder="Ramo Empresa" id="ramo empresa">
                        <input [(ngModel)]='usuario.email' type="text" class="form-control" name="email" placeholder="Email" id="email">
                        <input [(ngModel)]='usuario.foto' type="text"  class="form-control" name="foto" placeholder="Link da foto" id="foto">
                        <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" placeholder="Senha" id="senha">
                        <input [(ngModel)]='usuario.senha' type="password" class="form-control" name="confirmSenha" placeholder="Confirme a senha">
                        <div class="wthree-text">
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" class="btn btn-success" (click)='cadastrar()' value="CADASTRAR">
                    </form>
                    <p>Já possui uma conta ? <a routerLink='/entrar'> Entre agora!</a></p>
                </div>
            </div>
            <!-- footer cadastro -->
            <div class="footer-copyrigth bg-transparent - text-center py-3">
                <span class="text-light"> © 2021 Copyright: </span>
                <a class="text-light" target="_blank" href="https://brasil.generation.org">Generation Brasil</a>
            </div>
            <!-- //footer cadastro -->
        </div>
    </body>