<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- CAMINHO CSS -->
    <link href="cadastrar-empresa.component.css" rel="stylesheet" type="text/css" media="all" />
    <!-- FONTES EXTERNAS -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
    <!-- main -->
   

        <div class="container-fluid d-flex justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <h1><img src="https://i.imgur.com/5LQBQKL.png m-10px" width="150px" height="50px"
                            alt="Logo-No-sem-fundo"></h1>
                </div>
                <div class="row d-flex justify-content-center text-center">
                    <div class="main-agileinfo">
                        <div class="campos-inserçao">
                            <form action="#" method="post" class="text-center">
                                <div>
                                <input [(ngModel)]='usuario.nome' type="text" class="form-control" name="nome"
                                    placeholder="Nome" id="Nome da empresa">
                                </div>
                                <input [(ngModel)]='usuario.ramo_empresa' type="text" class="form-control"
                                    name="ramo_empresa" placeholder="Ramo Empresa" id="ramo empresa">
                                <input [(ngModel)]='usuario.email' type="text" class="form-control" name="email"
                                    placeholder="Email" id="email">
                                <input [(ngModel)]='usuario.foto' type="text" class="form-control" name="foto"
                                    placeholder="Link da foto" id="foto">
                                <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha"
                                    placeholder="Senha" id="senha">
                                <input [(ngModel)]='usuario.senha' type="password" class="form-control"
                                    name="confirmSenha" placeholder="Confirme a senha">
                                <div class="wthree-text">
                                    <div class="clear"> </div>
                                </div>
                               <div>
                                    <input type="submit" class="" (click)='cadastrar()'
                                        value="CADASTRAR">
                                    </div>
                            </form>
                            <p>Já possui uma conta ? <a routerLink='/entrar'> Entre agora!</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- footer cadastro -->
                  
                </div>
                <!-- //footer cadastro -->
            </div>
        </div>
 
</body>