<head>
    <link rel="stylesheet" href="..\..\app\testemunhos\testemunhos.component.css">
</head>

<body>
    <div class="titulo-secao">
        <br> <br> 
        <h2 class="text-center"><b>Depoimentos</b> </h2>
        <br> <br> <br>  
        <p class="text-center">Nesta seção separamos alguns depoimentos de ex-participantes que conseguiram encontrar sua profissão ideal através da nossa plataforma. </p>
    </div>
    <div class="depoimentos">
        <div class="cartao">
            <div class="camada"></div>
            <div class="conteudo">
                <p>
                    Estava totalmente perdido quando mais jovem a graças ao intermédio da Nexo consegui encontrar uma profissão que me tornasse realizado.</p>
                <div class="foto">
                    <img src="https://i.ibb.co/2F7wzQ3/11.jpg">
                </div><br>
                <div class="detalhes">
                    <h2>Andre Gomes<br><span>Web Designer</span></h2>
                </div>
            </div>
        </div>
        <div class="cartao">
            <div class="camada"></div>
            <div class="conteudo">
                <p>
                    Não tinha direcionamento profissional após a escola e não sabia qual carreira seguir. Consegui meu primeiro emprego através da plataforma e amo o que faço.</p>
                <div class="foto">
                    <img src="https://i.ibb.co/t2c3mty/30.jpg">
                </div><br>
                <div class="detalhes">
                    <h2>Bruna Ramos<br><span>Auxiliar de Controladoria</span></h2>
                </div>
            </div>
        </div>
        <div class="cartao">
            <div class="camada"></div>
            <div class="conteudo">
                <p>
                    Sempre gostei de organizar e facilitar as coisas e nunca achei que isso viria ser meu trabalho. Hoje me sinto realizada com minha profissão.</p>
                <div class="foto">
                    <img src="https://i.ibb.co/xSmpNS1/22.jpg">
                </div><br>
                <div class="detalhes">
                    <h2>Amélia Souza<br><span>Secretária</span></h2>
                </div>
            </div>
        </div>
    </div>
    <br> <br> <br> <br> <br>
</body>