<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <!--col-->
        <div class="col-md-6 mt-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 bg-light">
                    
                    <h2 class="text-center mt-2">Cadastro Candidato</h2>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='usuario.nome' type="text" class="form-control" name="nome" placeholder="Nome" id="nome"> 
                    </div>
                    <!--form-->
                   
                    <div class="form-group">
                        <label for="idade">Idade</label>
                        <input [(ngModel)]='usuario.idade' type="number" class="form-control" name="idade" placeholder="idade" id="idade">
                    </div>
                    <!--form-->

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]='usuario.email' type="text" class="form-control" name="email" placeholder="Email" id="email">
                    </div>
                    <!--form-->

                    <div class="form-group">
                        <label for="usuario">Foto</label>
                        <input [(ngModel)]='usuario.foto' type="text"  class="form-control" name="foto" placeholder="Link da foto" id="foto">
                    </div>
                    <!--form-->
                  
                    <div class="form-group">
                        <label for="renda familiar"> Renda Familiar</label>
                        <input [(ngModel)]='usuario.renda_familiar' type="number" class="form-control" name="renda familiar" placeholder="Renda Familiar" id="renda familiar">
                    </div>
                    <!--form-->

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" placeholder="Password" id="senha">
                    </div>
                    <!--form-->

                    <div class="form-group">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]='usuario.senha' type="password" class="form-control" name="confirmSenha" placeholder="Confirm password"
                        id="confirmSenha">
                    </div>
                    <!--form-->

                    <div class="d-flex justify-content-center">
                        <button routerLink='/entrar' type="submit" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                    <!--button-->

                </div>
            </div>
            <!--row-->
        </div>
        <!--col-->
    </div>
</div>

