<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <li class="nav-item"><a href="" ><img
            src="https://i.imgur.com/5LQBQKL.png" id="logo"  alt="Logo-Nexo-sem-fundo"></a></li>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          </form>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Sobre nós </a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contato</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Acessar</a></li>
            </ul>
        </div>
    </div>
</nav>
