    <div class="navbar-nexo">
        <nav class="navbar navbar-expand-sm navbar-nav ">
                    <div class="col-md-1 d-flex justify-content-start">
                        <a routerLink='/home'><img src="https://i.imgur.com/5LQBQKL.png m-10px" width="150px" height="50px" alt="Logo-Nexo-sem-fundo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                    </div>
                    <div class="col-md-11 mb-3">
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                                <li class="nav-item"><a class="nav-link" routerLink='/home'>Home</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink='/sobrenos'>Sobre o projeto</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink='/timedev'>Quem somos nós? </a></li>
                                <li class="nav-item"><a class="nav-link" routerLink=''>Contato</a></li>
                                <li class="nav-item "><a class="nav-link active" aria-current="page" routerLink='/entrar'>Acessar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
        </nav>