<div class="container-fluid">

  <div class="d-flex flex-column">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-light">Atualizar Tema</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-12">

        <div class="form-group mt-3">
          <label for="descricao" class="text-light">Descrição:</label>
          <input type="text" class="form-control mt-1" id="descricao" [(ngModel)]='tema.nomeTema'>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <div class="btn-space">
            <button class="btn btn-danger mr-4" routerLink='/tema'>Cancelar</button>
          </div>
          <div>
            <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>