<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="..\..\app\utilidades\utilidades.component.css">
</head>

<body>
  <div class="utilidades">
      <div class="container">
          <div class="intro">
              <h2 class="text-center">Por onde começar ?</h2>
              <p class="text-center">Nesta seção preparamos alguns testes interessantes que vão ajudar nossos futuros participantes a entender um pouco mais como encontrar a profissão que mais combina com o seu perfil.</p>
          </div>
          <div class="row uteis">
              <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="https://i.ibb.co/1n1YPz1/neora.jpg"></a>
                  <h3 class="nome">Teste Vocacional</h3>
                  <p class="descricao">Os testes vocacionais geralmente possuem diversas perguntas de múltipla escolha que conseguem identificar os principais traços de personalidade, pontos fortes e pontos fracos. Com a junção dessas características, é possível obter uma resposta sobre as carreiras em potencial para você.</p><a href="https://www.neora.com.br/teste-vocacional" class="acao"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
              <div
                  class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="https://i.ibb.co/7k1pFnk/11924536-698864953574982-1782781949876737825-n.png"></a>
                  <h3 class="nome">Teste de Personalidade</h3>
                  <p class="descricao">Em conjunto com os outros testes oferecidos gratuitamente pela nossa equipe, com o teste de personalidade é possível criar um retrato geral suas principais características profissionais e assim descobrir quais são os melhores ambientes e culturas corporativas para você. </p><a href="https://www.16personalities.com/br/teste-de-personalidade" class="acao"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
              <div
                  class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="https://i.ibb.co/gSt3vSD/guiadasprofissoes.png"></a>
                  <h3 class="nome">Guia das Profissões</h3>
                  <p class="descricao">Com os testes de vocação e personalidade agora você já sabe um pouco mais sobre você. Com este guia de profissões vai ser possível entender um pouco mais sobre o que são as profissões e assim descobrir quais pontos em comum você e a função dos seus sonhos possuem.</p><a href="https://www.guiadasprofissoes.info/" class="acao"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
          </div>
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
