.container-fluid{
    background: rgb(1,106,109);
    background: linear-gradient(90deg, rgba(1,106,109,1) 0%, rgba(5,81,107,1) 50%, rgba(4,62,82,1) 100%);
    /* adicionando imagem de fundo */
}
#estilo{
    background-size: cover;
    display: flex;
    justify-content: center;
}
