
.menu-nexo {
    color: #bdc0c2;
    background: url("https://i.ibb.co/JCYZgYy/background1.jpg");
    background-size: cover;
    padding-bottom: 1px;
    
}
.menu-nexo .texto {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.menu-nexo .texto h1 {
    color: #eaeef1;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}

.menu-nexo .texto p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}
.menu-nexo .primeiro-botao {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.menu-nexo .primeiro-botao:hover {
    background-color:rgba(255,255,255,0.1);
}

.menu-nexo .primeiro-botao:active {
    transform:translateY(1px);
}
/*item responsivo*/
@media screen and (max-width: 767px) {

    .menu-nexo {
        color: #fff;
        font-size: 16px;
    }

    .menu-nexo :hover{
        color: #ccc;
    }

    .menu-nexo .texto{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}