<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{foto}}" alt="Foto usuario" class="img-fluid rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{nome}}</h4>
                <!--
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      -->

              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="text-center">Dados usuário</h4>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Nome</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{nome}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{email}}
                </div>
              </div>
   

 
            </div>
          </div>

        </div>
         
      <!---
        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <h4>Configurações</h4>

              <button *ngIf='logadoEmpresa() === true' [routerLink]="['/userempresa-edit', idUsuario]" type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Editar">
                <h6>Editar usuário</h6>
              </button>

              <button *ngIf='logadoCandidato() === true' [routerLink]="['/usercandidato-edit', idUsuario]" type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Editar">
                <h6>Editar usuário</h6>
              </button>



            </div>
          </div>
        </div>

      -->

      </div>
      <div class="col-lg-8">

        <div class="panel">

          <div class="card panel-content panel-activity">

            <div class="form-group">
              <!-- -->
              <label for="texto">Escolha um tema:</label>
              <select name="tema" id="tema" class="form-control mb-3" [(ngModel)]='idTema' (change)='findByIdTema()'>
                <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.nomeTema}}</option>
              </select>

              <button type="button" class="btn btn-sm btn-rounded btn-info " data-bs-dismiss="modal"
                routerLink='/tema'>Ou
                cadastre um
                novo tema</button>


            </div>

            <div class="form-group mb-3 mt-3">
              <label for="texto">Título: </label>
              <input [(ngModel)]='postagem.nomePostagem' type="text" class="form-control" id="titulo"
                placeholder="Digite o título do texto">



            </div>

            <form class="panel-activity__status mb-5">
              <textarea [(ngModel)]='postagem.pitch' name="user_activity" placeholder="Escreva seu texto aqui..."
                class="form-control"></textarea>
              <div class="actions d-flex align-items-end flex-column">

                <button type="submit" class="btn btn-sm btn-rounded btn-info" (click)='publicar()'>
                  Postar
                </button>
              </div>
            </form>

          </div>

          <div class="container mb-5 mt-5">

            <nav>
              <div class="nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">
                <button class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                  data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button" role="tab"
                  aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</button>
                <button (click)='findByIdUsuario()' class="nav-link text-secondary font-weight-bold"
                  id="nav-minhasPostagens-tab" data-bs-toggle="tab" data-bs-target="#minhasPostagens" type="button"
                  role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</button>
                <button class="nav-link text-secondary font-weight-bold" id="nav-postagensPorTema-tab"
                  data-bs-toggle="tab" data-bs-target="#postagensPorTema" type="button" role="tab"
                  aria-controls="nav-postagensPorTema" aria-selected="false">Postagens por tema</button>
              </div>
            </nav>

            <div class="tab-content mt-5" id="nav-tabContent">
              <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                aria-labelledby="nav-todasPostagens-tab">


                <div class="row d-flex justify-content-center mt-5 mb-5">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="titulo"
                        placeholder="Digite um titulo para pesquisar" [(ngModel)]='tituloPost'
                        (keyup)='findByTituloPostagem()'>
                    </div>
                  </div>
                </div>
                <div class="class-columns mb-5 mt-5">
                  <div class="card text-center mb-5" *ngFor='let postagem of listaPostagens | orderBy : key : reverse'>
                    <div class="card-header">

                      <div>
                        <h5 class="card-title">{{postagem.nomePostagem}}</h5>
                      </div>

                    </div>
                    <div class="card-body">
                      <small class="text-muted">Tema: {{postagem.postagemTema.nomeTema}}</small>
                      <p class="card-text">{{postagem.pitch}}</p>

                    </div>
                    <div class="card-footer text-muted">
                      <div class="box">
                        <div>
                          <button type="button" class="btn-link" title=""  data-toggle="tooltip"
                            data-original-title="Curtir">
                            <i class="fa fa-thumbs-up" ></i>  
                            
                          </button>
                        </div>
                        <div>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip"
                            data-original-title="Email">
                            <a href="mailto:{{postagem.postagemUsuario.email}}" class="text-reset"><i class="fa fa-envelope"></i></a>
                          </button>
                        </div>
                        <div class="push">
                          por: {{postagem.postagemUsuario.nome}} | {{postagem.data | date: 'dd/MM/yyyy'}} às
                          {{postagem.data | date: 'HH:mm'}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

                <div class="class-columns mb-5 mt-5">
                  <div class="card text-center mb-5"
                    *ngFor='let postagem of usuario.postagem | orderBy : key : reverse'>
                    <div class="card-header">

                      <div>
                        <h5 class="card-title">{{postagem.nomePostagem}}</h5>
                      </div>

                    </div>
                    <div class="card-body">
                      <!--<small class="text-muted">Tema: {{postagem.nomeTema}}</small>-->
                      <p class="card-text">{{postagem.pitch}}</p>

                    </div>
                    <div class="card-footer text-muted">
                      <div class="box">
                        <div>
                          <button [routerLink]="['/postagem-edit', postagem.id_postagem]" type="button" class="btn-link"
                            title="" data-toggle="tooltip" data-original-title="Editar">
                            <i class="fa fa-edit"></i>
                          </button>
                        </div>
                        <div>
                          <button [routerLink]="['/postagem-delete', postagem.id_postagem]" type="button"
                            class="btn-link" title="" data-toggle="tooltip" data-original-title="Excluir">
                            <i class="fa fa-trash-alt"></i>
                          </button>
                        </div>
                        <div class="push">
                          por: {{usuario.nome}} | {{postagem.data | date: 'dd/MM/yyyy'}} às
                          {{postagem.data | date: 'HH:mm'}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane fade" id="postagensPorTema" role="tabpanel"
                aria-labelledby="nav-postagensPorTema-tab">

                <div class="row d-flex justify-content-center mt-5 mb-5">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="nometema"
                        placeholder="Digite um tema para pesquisar" [(ngModel)]='descricaoTema'
                        (keyup)='findByNomeTema()'>
                    </div>
                  </div>
                </div>

                <div class="class-columns mb-5 mt-5" *ngFor='let tema of listaTemas'>
                  <div class="card text-center mb-5" *ngFor='let postagem of tema.listaPostagem | orderBy : key : reverse'>
                    <div class="card-header">

                      <div>
                        <h5 class="card-title">{{postagem.nomePostagem}}</h5>
                      </div>

                    </div>
                    <div class="card-body">
                      <small class="text-muted">Tema: {{tema.nomeTema}}</small>
                      <p class="card-text">{{postagem.pitch}}</p>

                    </div>
                    <div class="card-footer text-muted">
                      <div class="box">
                        <div>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip"
                            data-original-title="Curtir">
                            <i class="fa fa-thumbs-up"></i>
                          </button>
                        </div>
                        <div>
                          <button type="button" class="btn-link" title="" data-toggle="tooltip"
                            data-original-title="Email">
                            <i class="fa fa-envelope"></i>
                          </button>
                        </div>
                        <div class="push">
                          por: {{postagem.postagemUsuario.nome}} |
                          {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>

  </div>
</div>