<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{foto}}" alt="Foto usuario" class="img-fluid rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{nome}}</h4>
                <!--
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      -->

              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Nome</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{nome}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Telefone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Celular</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Endereço</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>
              </div>
              <hr>
              <!--
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info " target="__blank"
                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                </div>
              </div>
              -->
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-8">

        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Feed de notícias</h3>
          </div>

          <div class="form-group">
            <!-- -->
            <label for="texto">Escolha um tema: </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.nomeTema}}</option>
            </select>
            <button type="button" class=" btn btn-light P-3 " data-bs-dismiss="modal" routerLink='/tema'>Ou cadastre um
              novo tema</button>

          </div>

          <div class="form-group">
            <label for="texto">Escolha um título: </label>
            <input [(ngModel)]='postagem.nomePostagem' type="text" class="form-control" id="titulo"
              placeholder="Digite o título do texto">



          </div>

          <div class="panel-content panel-activity">
            <form class="panel-activity__status mb-5">
              <textarea [(ngModel)]='postagem.pitch' name="user_activity" placeholder="Escreva seu texto aqui..."
                class="form-control"></textarea>
              <div class="actions">
                <div class="btn-group">
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Image">
                    <i class="fa fa-image"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Video">
                    <i class="fa fa-video-camera"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Idea">
                    <i class="fa fa-lightbulb-o"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Question">
                    <i class="fa fa-question-circle-o"></i>
                  </button>
                </div>
                <button type="submit" class="btn btn-sm btn-rounded btn-info" (click)='publicar()'>
                  Postar
                </button>
              </div>
            </form>

            <div class="class-columns">
              <div class="card text-center mb-5" *ngFor='let postagem of listaPostagens'>
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <button [routerLink]="['/postagem-edit', postagem.id_postagem]" type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Editar">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button [routerLink]="['/postagem-delete', postagem.id_postagem]" type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Excluir">
                      <i class="fa fa-trash"></i>
                    </button>

                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{postagem.nomePostagem}}</h5>
                  <p class="card-text">{{postagem.pitch}}</p>

                </div>
                <div class="card-footer text-muted">
                  {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}

                </div>
              </div>


            </div>
            <!--
                <ul class="panel-activity__list">
                    <li>
                        <i class="activity__list__icon fa fa-question-circle-o"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                            <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the better effect?</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <p>
                                <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis!
                                <em>Molestiae commodi nesciunt a, repudiandae repellendus ea.</em>
                            </p>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                    </li>
                    <li>
                        <i class="activity__list__icon fa fa-question-circle-o"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                            <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the better effect?</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                    repudiandae repellendus ea.
                                </p>
                            </blockquote>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                    </li>
                    <li>
                        <i class="activity__list__icon fa fa-image"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                            <a href="#">John Doe</a> Uploaded 4 Image: <a href="#">Office Working Time</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <ul class="gallery">
                                <li>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                                </li>
                                <li>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                                </li>
                                <li>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" />
                                </li>
                                <li>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" />
                                </li>
                            </ul>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                    </li>
                    <li>
                        <i class="activity__list__icon fa fa-question-circle-o"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                            <a href="#">John Doe</a> Posted the question: <a href="#">How can I change my annual reports for the better effect?</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni dolores corporis! Molestiae commodi nesciunt a,
                                    repudiandae repellendus ea.
                                </p>
                            </blockquote>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                    </li>
                    <li>
                        <i class="activity__list__icon fa fa-lightbulb-o"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                            <a href="#">John Doe</a> bookmarked a page: <a href="#">Awesome Idea</a>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                    </li>
                </ul>
              -->
          </div>
        </div>
      </div>

    </div>

  </div>
</div>