<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{foto}}" alt="Foto usuario" class="img-fluid rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{nome}}</h4>
                <!--
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      -->

              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card mb-3">
            <div class="card-body">
              <h4 class="text-center">Dados usuário</h4>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Nome</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{nome}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Telefone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Celular</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Endereço</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  PRECISA COLOCAR NO BACKEND
                </div>

              </div>
              <hr>
            </div>
          </div>

        </div>

        <div class="card mt-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <h4>Configurações</h4>

              <button type="button" class="btn-link" title=""
                data-toggle="tooltip" data-original-title="Editar">
                <h6>Editar usuário</h6>
              </button>



            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8">

        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Feed de notícias</h3>
          </div>

          <div class="form-group">
            <!-- -->
            <label for="texto">Escolha um tema: </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.nomeTema}}</option>
            </select>
            <button type="button" class=" btn btn-light P-3 " data-bs-dismiss="modal" routerLink='/tema'>Ou cadastre um
              novo tema</button>

          </div>

          <div class="form-group">
            <label for="texto">Escolha um título: </label>
            <input [(ngModel)]='postagem.nomePostagem' type="text" class="form-control" id="titulo"
              placeholder="Digite o título do texto">



          </div>

          <div class="panel-content panel-activity">
            <form class="panel-activity__status mb-5">
              <textarea [(ngModel)]='postagem.pitch' name="user_activity" placeholder="Escreva seu texto aqui..."
                class="form-control"></textarea>
              <div class="actions">
                <div class="btn-group">
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Image">
                    <i class="fa fa-image"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Video">
                    <i class="fa fa-video-camera"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Idea">
                    <i class="fa fa-lightbulb-o"></i>
                  </button>
                  <button type="button" class="btn-link" title="" data-toggle="tooltip"
                    data-original-title="Post an Question">
                    <i class="fa fa-question-circle-o"></i>
                  </button>
                </div>
                <button type="submit" class="btn btn-sm btn-rounded btn-info" (click)='publicar()'>
                  Postar
                </button>
              </div>
            </form>

            <div class="class-columns">
              <div class="card text-center mb-5" *ngFor='let postagem of listaPostagens'>
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <button [routerLink]="['/postagem-edit', postagem.id_postagem]" type="button" class="btn-link"
                      title="" data-toggle="tooltip" data-original-title="Editar">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button [routerLink]="['/postagem-delete', postagem.id_postagem]" type="button" class="btn-link"
                      title="" data-toggle="tooltip" data-original-title="Excluir">
                      <i class="fa fa-trash"></i>
                    </button>

                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{postagem.nomePostagem}}</h5>
                  <p class="card-text">{{postagem.pitch}}</p>

                </div>
                <div class="card-footer text-muted">
                  {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date: 'HH:mm'}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>