<div class="row d-flex align-items-center" id="bgColor">



    <div class="col-md-2 box">

        <a href="https://github.com/ccarmo/nexo" class="GitHub" target="_blank"><i class="fa fa-github"></i></a>
        <a href="" class="Linkedin" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>


    </div>
    <div class="col-md-4" id="img-principal"></div>
    <div class="col-md-4 d-flex align-items-center box">
        <div  id="img-sobrenos"></div>
        <div class="txt-sobrenos ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum risus non ante
            consectetur feugiat. Sed ante risus, elementum quis arcu sed, maximus rhoncus nibh. Sed egestas viverra
            nisi, ac dignissim augue venenatis eu. Phasellus pellentesque libero tortor, pellentesque malesuada enim
            mattis in. In nec nisi lobortis, lobortis nunc vel, fringilla lorem. Vestibulum erat ipsum, pellentesque non
            augue a, iaculis vehicula quam. Sed tempor maximus commodo. Quisque congue gravida fringilla. Nullam sed
            erat ullamcorper, mollis felis eget, dignissim libero. Donec ipsum ipsum, efficitur vel pulvinar rhoncus,
            congue sit amet ipsum. Phasellus ultrices neque ligula, vitae gravida nisl placerat porttitor.
        
        </div>

        

    </div>

</div>